%h1 Listing actors

%table
  %thead
    %tr
      - Actor.column_names.each do |attr_name, _|
        %th
          = attr_name
      %th
      %th
      %th

  %tbody
    - @actors.sort_by(&:id).each do |actor|
      %tr
        - actor.attributes.each do |_, attr_value|
          %th
            = attr_value
        %td= link_to 'Show', actor_path(actor)
        %td= link_to 'Edit', edit_actor_path(actor)
        %td= link_to 'Destroy', actor_path(actor), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Actor', new_actor_path
