%p#notice= notice

%p
  %b Name:
  = @actor.name
%p
  %b Race:
  = @actor.race
%p
  %b Gender:
  = @actor.gender
%p
  %b Level:
  = @actor.level
%p
  %b Character class:
  = @actor.character_class
%p
  %b Health:
  = @actor.health
%p
  %b Magicka:
  = @actor.magicka
%p
  %b Fatigue:
  = @actor.fatigue
%p
  %b Encumbrance:
  = @actor.encumbrance
%p
  %b Agility:
  = @actor.agility
%p
  %b Endurance:
  = @actor.endurance
%p
  %b Intelligence:
  = @actor.intelligence
%p
  %b Luck:
  = @actor.luck
%p
  %b Personality:
  = @actor.personality
%p
  %b Speed:
  = @actor.speed
%p
  %b Strength:
  = @actor.strength
%p
  %b Willpower:
  = @actor.willpower
%p
  %b Heavy armour:
  = @actor.heavy_armour
%p
  %b Medium armour:
  = @actor.medium_armour
%p
  %b Spear:
  = @actor.spear
%p
  %b Acrobatics:
  = @actor.acrobatics
%p
  %b Armourer:
  = @actor.armourer
%p
  %b Axe:
  = @actor.axe
%p
  %b Blunt weapon:
  = @actor.blunt_weapon
%p
  %b Long blade:
  = @actor.long_blade
%p
  %b Block:
  = @actor.block
%p
  %b Light armour:
  = @actor.light_armour
%p
  %b Marksman:
  = @actor.marksman
%p
  %b Sneak:
  = @actor.sneak
%p
  %b Athletics:
  = @actor.athletics
%p
  %b Hand to hand:
  = @actor.hand_to_hand
%p
  %b Short blade:
  = @actor.short_blade
%p
  %b Unarmoured:
  = @actor.unarmoured
%p
  %b Illusion:
  = @actor.illusion
%p
  %b Mercantile:
  = @actor.mercantile
%p
  %b Speechcraft:
  = @actor.speechcraft
%p
  %b Alchemy:
  = @actor.alchemy
%p
  %b Conjuration:
  = @actor.conjuration
%p
  %b Enchant:
  = @actor.enchant
%p
  %b Security:
  = @actor.security
%p
  %b Alteration:
  = @actor.alteration
%p
  %b Destruction:
  = @actor.destruction
%p
  %b Mysticism:
  = @actor.mysticism
%p
  %b Restoration:
  = @actor.restoration
%p
  %b Fire resist:
  = @actor.fire_resist
%p
  %b Frost resist:
  = @actor.frost_resist
%p
  %b Poison resist:
  = @actor.poison_resist
%p
  %b Shock resist:
  = @actor.shock_resist
%p
  %b Magicka resist:
  = @actor.magicka_resist
%p
  %b Disease resist:
  = @actor.disease_resist

= link_to 'Edit', edit_actor_path(@actor)
\|
= link_to 'Back', actors_path
