%p#notice= notice

%p
  %b Specialization:
  = @player_character.specialization
%p
  %b Birthsign:
  = @player_character.birthsign
%p
  %b Favoured attribute1:
  = @player_character.favoured_attribute1
%p
  %b Favoured attribute2:
  = @player_character.favoured_attribute2
%p
  %b Major skill1:
  = @player_character.major_skill1
%p
  %b Major skill2:
  = @player_character.major_skill2
%p
  %b Major skill3:
  = @player_character.major_skill3
%p
  %b Major skill4:
  = @player_character.major_skill4
%p
  %b Major skill5:
  = @player_character.major_skill5
%p
  %b Minor skill1:
  = @player_character.minor_skill1
%p
  %b Minor skill2:
  = @player_character.minor_skill2
%p
  %b Minor skill3:
  = @player_character.minor_skill3
%p
  %b Minor skill4:
  = @player_character.minor_skill4
%p
  %b Minor skill5:
  = @player_character.minor_skill5

= link_to 'Edit', edit_player_character_path(@player_character)
\|
= link_to 'Back', player_characters_path
